<a href="https://colab.research.google.com/github/dkuzzmin/DI-Bootcamp/blob/main/Week4/Day5/W4Day5_mini_project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [138]:
import pandas as pd
df = pd.read_csv('survey.csv')

In [139]:
df

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2015-09-12 11:17:21,26,male,United Kingdom,NaN,No,No,Yes,NaN,26-100,...,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN
1255,2015-09-26 01:07:35,32,Male,United States,IL,No,Yes,Yes,Often,26-100,...,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,NaN
1256,2015-11-07 12:36:58,34,male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,...,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,NaN
1257,2015-11-30 21:25:06,46,f,United States,NC,No,No,No,NaN,100-500,...,Don't know,Yes,No,No,No,No,No,No,No,NaN
1258,2016-02-01 23:04:31,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,NaN

In [140]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1259 non-null   object
 1   Age                        1259 non-null   int64
 2   Gender                     1259 non-null   object
 3   Country                    1259 non-null   object
 4   state                      744 non-null    object
 5   self_employed              1241 non-null   object
 6   family_history             1259 non-null   object
 7   treatment                  1259 non-null   object
 8   work_interfere             995 non-null    object
 9   no_employees               1259 non-null   object
 10  remote_work                1259 non-null   object
 11  tech_company               1259 non-null   object
 12  benefits                   1259 non-null   object
 13  care_options               1259 non-null   object
 14  wellness_program           1259 non-null   object
 15  seek_help                  1259 non-null   object
 16  anonymity                  1259 non-null   object
 17  leave                      1259 non-null   object
 18  mental_health_consequence  1259 non-null   object
 19  phys_health_consequence    1259 non-null   object
 20  coworkers                  1259 non-null   object
 21  supervisor                 1259 non-null   object
 22  mental_health_interview    1259 non-null   object
 23  phys_health_interview      1259 non-null   object
 24  mental_vs_physical         1259 non-null   object
 25  obs_consequence            1259 non-null   object
 26  comments                   164 non-null    object
dtypes: int64(1), object(26)
memory usage: 265.7+ KB

**Cleaning database**

In [141]:
df['Age'].describe()

count    1.259000e+03
mean     7.942815e+07
std      2.818299e+09
min     -1.726000e+03
25%      2.700000e+01
50%      3.100000e+01
75%      3.600000e+01
max      1.000000e+11
Name: Age, dtype: float64

In [142]:
df['Age'].sort_values()

715           -1726
143             -29
1127             -1
734               5
989               8
           ...
520              62
560              65
1182             72
364             329
390     99999999999
Name: Age, Length: 1259, dtype: int64

**"Age" column have abnormal values**

In [143]:
df.iloc[390]

Timestamp                    2014-08-27 15:24:47
Age                                  99999999999
Gender                                       All
Country                                 Zimbabwe
state                                        NaN
self_employed                                Yes
family_history                               Yes
treatment                                    Yes
work_interfere                             Often
no_employees                                 1-5
remote_work                                   No
tech_company                                 Yes
benefits                                      No
care_options                                 Yes
wellness_program                              No
seek_help                                     No
anonymity                                     No
leave                             Very difficult
mental_health_consequence                    Yes
phys_health_consequence                      Yes
coworkers                                     No
supervisor                                    No
mental_health_interview                      Yes
phys_health_interview                         No
mental_vs_physical                            No
obs_consequence                              Yes
comments                                     NaN
Name: 390, dtype: object

In [144]:
df[df['Country'] == 'Zimbabwe']

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
390,2014-08-27 15:24:47,99999999999,All,Zimbabwe,NaN,Yes,Yes,Yes,Often,1-5,...,Very difficult,Yes,Yes,No,No,Yes,No,No,Yes,NaN

In [145]:
df.drop(index = 390, inplace = True)

In [146]:
df.iloc[714]

Timestamp                    2014-08-28 10:07:53
Age                                        -1726
Gender                                      male
Country                           United Kingdom
state                                        NaN
self_employed                                 No
family_history                                No
treatment                                    Yes
work_interfere                         Sometimes
no_employees                              26-100
remote_work                                   No
tech_company                                  No
benefits                                      No
care_options                                  No
wellness_program                              No
seek_help                                     No
anonymity                             Don't know
leave                         Somewhat difficult
mental_health_consequence                    Yes
phys_health_consequence                       No
coworkers                                     No
supervisor                                    No
mental_health_interview                       No
phys_health_interview                      Maybe
mental_vs_physical                    Don't know
obs_consequence                               No
comments                                     NaN
Name: 715, dtype: object

In [147]:
av_age_in_uk = round(df[df['Country'] == 'United Kingdom']['Age'].mean())
df['Age'].replace(-1726, av_age_in_uk, inplace = True)

In [148]:
df.iloc[714]

Timestamp                    2014-08-28 10:07:53
Age                                           21
Gender                                      male
Country                           United Kingdom
state                                        NaN
self_employed                                 No
family_history                                No
treatment                                    Yes
work_interfere                         Sometimes
no_employees                              26-100
remote_work                                   No
tech_company                                  No
benefits                                      No
care_options                                  No
wellness_program                              No
seek_help                                     No
anonymity                             Don't know
leave                         Somewhat difficult
mental_health_consequence                    Yes
phys_health_consequence                       No
coworkers                                     No
supervisor                                    No
mental_health_interview                       No
phys_health_interview                      Maybe
mental_vs_physical                    Don't know
obs_consequence                               No
comments                                     NaN
Name: 715, dtype: object

In [149]:
df.iloc[143]

Timestamp                    2014-08-27 12:39:14
Age                                          -29
Gender                                      Male
Country                            United States
state                                         MN
self_employed                                 No
family_history                                No
treatment                                     No
work_interfere                               NaN
no_employees                      More than 1000
remote_work                                  Yes
tech_company                                  No
benefits                                     Yes
care_options                                  No
wellness_program                      Don't know
seek_help                                    Yes
anonymity                             Don't know
leave                                 Don't know
mental_health_consequence                     No
phys_health_consequence                       No
coworkers                           Some of them
supervisor                                   Yes
mental_health_interview                       No
phys_health_interview                         No
mental_vs_physical                    Don't know
obs_consequence                               No
comments                                     NaN
Name: 143, dtype: object

In [150]:
av_age_in_us = round(df[df['Country'] == 'United States']['Age'].mean())
df['Age'].replace(-29, av_age_in_us, inplace = True)

In [151]:
df.iloc[143]

Timestamp                    2014-08-27 12:39:14
Age                                           33
Gender                                      Male
Country                            United States
state                                         MN
self_employed                                 No
family_history                                No
treatment                                     No
work_interfere                               NaN
no_employees                      More than 1000
remote_work                                  Yes
tech_company                                  No
benefits                                     Yes
care_options                                  No
wellness_program                      Don't know
seek_help                                    Yes
anonymity                             Don't know
leave                                 Don't know
mental_health_consequence                     No
phys_health_consequence                       No
coworkers                           Some of them
supervisor                                   Yes
mental_health_interview                       No
phys_health_interview                         No
mental_vs_physical                    Don't know
obs_consequence                               No
comments                                     NaN
Name: 143, dtype: object

In [152]:
df[df['Age'] < 18]

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
734,2014-08-28 10:35:55,5,Male,United States,OH,No,No,No,NaN,100-500,...,Somewhat easy,No,No,Yes,Yes,No,No,Yes,No,We had a developer suffer from depression and ...
989,2014-08-29 09:10:58,8,A little about you,"Bahamas, The",IL,Yes,Yes,Yes,Often,1-5,...,Very easy,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,
1090,2014-08-29 17:26:15,11,male,United States,OH,Yes,No,No,Never,1-5,...,Very easy,No,No,Some of them,Some of them,No,Maybe,Yes,No,NaN
1127,2014-08-30 20:55:11,-1,p,United States,AL,Yes,Yes,Yes,Often,1-5,...,Very easy,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,password: testered

In [153]:
df.loc[df['Age'] < 18, 'Age'] = av_age_in_us

In [154]:
df[df['Age'] < 18]

Empty DataFrame
Columns: [Timestamp, Age, Gender, Country, state, self_employed, family_history, treatment, work_interfere, no_employees, remote_work, tech_company, benefits, care_options, wellness_program, seek_help, anonymity, leave, mental_health_consequence, phys_health_consequence, coworkers, supervisor, mental_health_interview, phys_health_interview, mental_vs_physical, obs_consequence, comments]
Index: []

[0 rows x 27 columns]

In [155]:
df["Timestamp"].sort_values()

0       2014-08-27 11:29:31
1       2014-08-27 11:29:37
2       2014-08-27 11:29:44
3       2014-08-27 11:29:46
4       2014-08-27 11:30:22
               ...
1254    2015-09-12 11:17:21
1255    2015-09-26 01:07:35
1256    2015-11-07 12:36:58
1257    2015-11-30 21:25:06
1258    2016-02-01 23:04:31
Name: Timestamp, Length: 1258, dtype: object

**Correcting any inconsistencies in the "Gender"**

In [156]:
df["Gender"].unique()

array(['Female', 'M', 'Male', 'male', 'female', 'm', 'Male-ish', 'maile',
       'Trans-female', 'Cis Female', 'F', 'something kinda male?',
       'Cis Male', 'Woman', 'f', 'Mal', 'Male (CIS)', 'queer/she/they',
       'non-binary', 'Femake', 'woman', 'Make', 'Nah', 'Enby', 'fluid',
       'Genderqueer', 'Female ', 'Androgyne', 'Agender',
       'cis-female/femme', 'Guy (-ish) ^_^', 'male leaning androgynous',
       'Male ', 'Man', 'Trans woman', 'msle', 'Neuter', 'Female (trans)',
       'queer', 'Female (cis)', 'Mail', 'cis male', 'A little about you',
       'Malr', 'p', 'femail', 'Cis Man',
       'ostensibly male, unsure what that really means'], dtype=object)

In [157]:
df['Gender'].replace(to_replace = ['Female', 'female', 'F', 'Woman', 'f', 'Femake', 'woman', 'Female ', 'femail'], value = 'Female',
                     inplace = True)

In [158]:
df['Gender'].replace(to_replace = [
       'Trans-female', 'Cis Female',
       'Cis Male','Male (CIS)', 'queer/she/they',
       'non-binary', 'Enby', 'fluid',
       'Genderqueer', 'Androgyne', 'Agender',
       'cis-female/femme', 'Guy (-ish) ^_^', 'male leaning androgynous',
       'Trans woman', 'Neuter', 'Female (trans)',
       'queer', 'Female (cis)', 'cis male', 'A little about you',
       'Cis Man',
       'ostensibly male, unsure what that really means'], value = 'Other',
                     inplace = True)

In [159]:
df['Gender'].replace(to_replace = [
       'M', 'Male', 'male', 'm', 'Male-ish', 'maile',
       'something kinda male?', 'Mal', 'Make', 'Male ', 'Man',
       'msle', 'Mail', 'Malr'], value = 'Male',
                     inplace = True)

In [160]:
df["Gender"].unique()

array(['Female', 'Male', 'Other', 'Nah', 'p'], dtype=object)

In [161]:
df[(df['Gender'] != 'Male') & (df['Gender'] != 'Female') & (df['Gender'] != 'Other')]

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
387,2014-08-27 15:24:22,29,Nah,United States,CA,Yes,Yes,Yes,Sometimes,1-5,...,Very difficult,Yes,No,Some of them,No,No,Maybe,No,No,NaN
1127,2014-08-30 20:55:11,33,p,United States,AL,Yes,Yes,Yes,Often,1-5,...,Very easy,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,password: testered

In [162]:
df['Gender'].replace(to_replace = ['Nah', 'p'], value = 'Other',
                     inplace = True)

In [163]:
df["Gender"].unique()

array(['Female', 'Male', 'Other'], dtype=object)

**Transforming column type to boolean**

In [211]:
df['obs_consequence'].unique()

array(['No', 'Yes'], dtype=object)

In [216]:
df['obs_consequence'].replace(to_replace = {'Yes': True, 'No': False}, inplace = True)
df['obs_consequence']

0       False
1       False
2       False
3        True
4       False
        ...
1254    False
1255    False
1256    False
1257    False
1258    False
Name: obs_consequence, Length: 1258, dtype: bool

**Next manipulation with data**

In [164]:
df.groupby("Country")['Country'].count().sort_values()

Country
Uruguay                     1
Hungary                     1
Spain                       1
Slovenia                    1
Czech Republic              1
Japan                       1
Costa Rica                  1
Latvia                      1
China                       1
Thailand                    1
Moldova                     1
Nigeria                     1
Bosnia and Herzegovina      1
Norway                      1
Bahamas, The                1
Philippines                 1
Georgia                     1
Romania                     1
Portugal                    2
Denmark                     2
Croatia                     2
Colombia                    2
Greece                      2
Finland                     3
Mexico                      3
Russia                      3
Austria                     3
Bulgaria                    4
Singapore                   4
Israel                      5
South Africa                6
Brazil                      6
Belgium                     6
Switzerland                 7
Sweden                      7
Italy                       7
Poland                      7
New Zealand                 8
India                      10
France                     13
Australia                  21
Netherlands                27
Ireland                    27
Germany                    45
Canada                     72
United Kingdom            185
United States             751
Name: Country, dtype: int64

In [165]:
df.groupby("state")['state'].count().sort_values()

state
MS      1
ME      1
LA      1
WV      1
ID      1
RI      1
NE      2
NM      2
WY      2
NV      3
KS      3
SD      3
VT      3
NH      3
DC      4
CT      4
IA      4
SC      5
KY      5
NJ      6
OK      6
AZ      7
AL      8
MD      8
CO      9
UT     11
GA     12
WI     12
MO     12
VA     14
NC     14
FL     15
MA     20
MN     21
MI     22
IN     27
OR     29
PA     29
IL     29
OH     30
TX     44
TN     45
NY     57
WA     70
CA    138
Name: state, dtype: int64

In [167]:
df.groupby("work_interfere")['work_interfere'].count().sort_values()

work_interfere
Often        143
Rarely       173
Never        213
Sometimes    465
Name: work_interfere, dtype: int64

In [168]:
df['work_interfere'].unique()

array(['Often', 'Rarely', 'Never', 'Sometimes', nan], dtype=object)

In [169]:
df['no_employees'].unique()

array(['6-25', 'More than 1000', '26-100', '100-500', '1-5', '500-1000'],
      dtype=object)

Index(['Timestamp', 'Age', 'Gender', 'Country', 'state', 'self_employed',
       'family_history', 'treatment', 'work_interfere', 'no_employees',
       'remote_work', 'tech_company', 'benefits', 'care_options',
       'wellness_program', 'seek_help', 'anonymity', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence', 'comments'],
      dtype='object')

**Deleting unnecessary columns**

In [198]:
df.drop(columns='comments')

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No
1,2014-08-27 11:29:37,44,Male,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2015-09-12 11:17:21,26,Male,United Kingdom,NaN,No,No,Yes,NaN,26-100,...,Don't know,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No
1255,2015-09-26 01:07:35,32,Male,United States,IL,No,Yes,Yes,Often,26-100,...,Yes,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No
1256,2015-11-07 12:36:58,34,Male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,...,Don't know,Somewhat difficult,Yes,Yes,No,No,No,No,No,No
1257,2015-11-30 21:25:06,46,Female,United States,NC,No,No,No,NaN,100-500,...,Don't know,Don't know,Yes,No,No,No,No,No,No,No
1258,2016-02-01 23:04:31,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,...,Yes,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No

In [207]:
df[df['tech_company'] == 'Yes']['tech_company'].count() / len(df)

0.8187599364069952